.custom_editable_tags {
    height: 50vh;
    overflow-y: auto;

    .site-tag-plus {
        background: #fff;
        border-style: dashed;
        cursor: pointer;
    }

    .edit-tag {
        cursor: pointer;
        user-select: none;
    }

    .tag-input {
        width: 250px;
        margin-right: 8px;
        vertical-align: top;
    }
}
