.toaster {
    position: absolute;
    width: 100%;
    right: 10px;
    z-index: 9;
    color: #fff;

    .toast {
        .toast-header {
            background-color: transparent;
            color: #fff;
        }
    }
    .toast.show {
        float: right;
        width: 100%;
    }
    .toast.success {
        background-color: #28a745;
    }
    .toast.warning {
        background-color: #ffc107;
    }
    .toast.danger {
        background-color: #dc3545;
    }
    .toast.info {
        background-color: #007bff;
    }
}
